*{
    box-sizing:border-box;
}

body{
    margin:0px;
}

.container{
    height:100vh;
    background-color:#262626;
    display:flex;
    justify-content:center;
    align-items: center;
}

.social{
    color:#fff;
    list-style:none;
    padding:0;
    display:flex;
    justify-content: space-between;
    width: 450px;
}

.social-item{
    height:70px;
    width: 70px;
    border-radius:50%;
    border:5px solid #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px; /*Размер иконки внутри*/
    transition: all 0.3s;
}

a{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: inherit;
}

.facebook:hover{
    border-color:#3c5998;
    box-shadow:0px 0px 35px #3c5998;
    color:#3c5998;
}

.instagram:hover{
    box-shadow:0px 0px 35px ;
    background:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.telegram:hover{
    border-color:#03A9F4;
    box-shadow:0px 0px 35px #03A9F4;
    color:#03A9F4;
}

.vk:hover{
    border-color:#4a76a8;
    box-shadow:0px 0px 35px #4a76a8;
    color:#4a76a8;
}

.google:hover{
    border-color:#ea4335;
    box-shadow:0px 0px 35px #ea4335;
    color:#ea4335;
}
